DB_ENGINE=sqlite
SQLITE_DB_PATH=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=gestion_magasin
APP_TITLE=Gestion Magasin POS
APP_VERSION=1.0.2
APP_PATCH=11
APP_UPDATE_URL=https://raw.githubusercontent.com/SteadEvent7/Gestion-Magasin-POS/main/update.json
